@import "tailwindcss";

body{
    font-family: "Montserrat", sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLogin {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fadeInUp 0.5s ease-in forwards;
}

.animate-fade-login {
  animation: fadeLogin 0.5s ease-in backwards;
}
